@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

/*----Text,Titles-----*/
#game-title{
    font-family: "Teko", 'Sans-Serif';
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

#how-to-play>h2{
    font-family: "Teko", 'Sans-Serif';
}


h3 {
    padding-right: 50px;
}

.scorebox {
    text-align: center;
}
/*----Colour----*/
.playground {
    background-color: black;
}
.blue {
    background-color: #345995;
}
.cyan {
    background-color: #a8f0f5;
}
.yellow {
    background-color: #EAC435;
}
.green {
    background-color: #3F612D;
}
.red {
    background-color: #FB4D3D;
}
.orange {
    background-color: #F9A620;
}
.purple {
    background-color: #726DA8;
}
.pink {
    background-color: #FF86C8;
} 
.white {
    background-color: #FBFEF9;
}

/*----Game Area Structure*/

.playground {
    padding-top: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 105px 104px 115px;
    padding: 10px;
    align-content: center;
    justify-content: center;
}

.square {
width: 100px;
height: 100px;
cursor: pointer;
margin-left: 2px;
margin-right: 2px;
}

.square:hover {
    border: 1px solid black;
    box-sizing: border-box;
}

/*----Game Buttons*/
.button {
    margin-bottom: 4px !important;
}
.button, #instructionsButton {
    cursor: pointer;
    display: block;
    margin: auto;
}

#how-to-play{
    display: none;
}

.light {
 opacity: 0.4;
}
