@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

/*----Text,Titles-----*/
#game-title{
    font-family: "Teko", 'Sans-Serif';
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

#how-to-play>h2{
    font-family: "Teko", 'Sans-Serif';
}

/*----Colour----*/
.playground {
    background-color: black;
}
.blue {
    background-color: #345995;
}
.cyan {
    background-color: #a8f0f5;
}
.yellow {
    background-color: #EAC435;
}
.green {
    background-color: #3F612D;
}
.red {
    background-color: #FB4D3D;
}
.orange {
    background-color: #F9A620;
}
.purple {
    background-color: #726DA8;
}
.pink {
    background-color: #FF86C8;
} 
.white {
    background-color: #FBFEF9;
}

/*----Game Area Structure*/
.playground {
    padding-top: 10px;
}

.row {
text-align: center;
}

.square {
display: inline-block;
width: 100px;
height: 100px;
cursor: pointer;
margin-left: 2px;
margin-right: 2px;
}

.square:hover {
    background-color: #423a3a;
    border: 1px solid black;
    box-sizing: border-box;
}

/*----Game Buttons*/
form {
    text-align: center;
}

.start-btn,.enter-btn{
    cursor: pointer;
}
.select-cells-level{
    width: 70px;
}

#how-to-play{
    display: none;
}

