@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*----Text,Titles-----*/
#game-title {
  font-family: "Teko", "Sans-Serif";
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  color: white;
  background-color: #db324d;
  margin-top: 0px;
  margin-bottom: 0px;
}

#slogan {
  text-align: center;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
  position: relative;
  bottom: 25px;
  color: white;
}

#how-to-play > h2 {
  font-family: "Teko", "Sans-Serif";
  text-align: center;
  color: #244272;
  font-weight: 800;
}

.list-rules {
  font-family: "Poppins", "Sans-Serif";
  text-align: center;
  color: #244272;
  padding-left: 0;
}

.list-inline > ul,
* {
  padding-left: 0;
}

#socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.list-inline-item {
  display: ruby-text;
  padding-left: 0px;
}
.list-inline,
span {
  font-family: "Poppins", "Sans-Serif";
  text-align: center;
  padding-right: 10px;
  font-size: 16px;
}

h3 {
  padding-right: 50px;
}

.scorebox {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.contact-title {
  text-align: center;
  text-decoration: underline;
  color: black;
}

.footer {
  bottom: 0;
  height: 50px;
  margin-top: 2px;
  background-color: #db324eb2;
}

/*-------Footer Text-----*/
i {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
}

span {
  padding-left: 10px;
}

/*------Colour------*/
body {
  background-color: black;
}

a {
  color: white;
  font-weight: 700;
}
.playground {
  background-color: #373c3c;
}
.blue {
  background-color: #345995;
}
.cyan {
  background-color: #a8f0f5;
}
.yellow {
  background-color: #eac435;
}
.green {
  background-color: #3f612d;
}
.red {
  background-color: #fb4d3d;
}
.orange {
  background-color: #f9a620;
}

/*------Game Area Structure------*/

.playground {
  padding-top: 10px;
  text-align: center;
  width: 650px;
  border: solid #bebebe;
}

.grid-container {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 105px 104px 115px;
  padding: 10px;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.square {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
  border: 4px solid #00000094;
}

.square:hover {
  border: 1px solid black;
  box-sizing: border-box;
}

/*-------Game Buttons-------*/
.button {
  margin-bottom: 4px !important;
  background-color: #f5cb5c;
}

#instructionsButton {
  background-color: #a7c957;
}

button#instructionsButton {
  margin-top: 15px;
  margin-bottom: 5px;
}
.button,
#instructionsButton {
  cursor: pointer;
  display: block;
  margin: auto;
  border-radius: 4px;
  border: none;
  color: black;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 15px 25px;
  font-size: 15px;
}

#how-to-play {
  display: none;
  background-color: #ceaf3e;
}

.light {
  opacity: 0.2;
}

/*-------Contact Form------- */
.form-container {
  display: ruby-text;
  padding-top: 15px;
}
#outer-form {
  text-align: center;
  border: 5px solid #bfc0c0;
  margin-top: 10px;
  width: 350px;
  background-color: #ef8354;
}

input,
textarea {
  cursor: text;
  width: 200px;
}

input#name {
  width: 135px;
}

input#email {
  width: 135px;
}

label {
  font-weight: 600;
  color: black;
}

#send-btn {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #f2e2ba;
  border-radius: 4px;
  border: none;
  padding-left: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#send-btn:hover {
  background-color: #afa386;
}

/*--------Media Queries------ */
/*-- Extra Small devices (portrait phones, 576px and less--*/
@media (max-width: 575.98px) {
  .playground {
    width: 280px;
  }

  .grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 86px 87px 95px;
    padding: 10px;
    align-content: center;
    justify-content: center;
    margin: auto;
  }

  .square {
    width: 70px;
    height: 70px;
  }

  #outer-form {
    width: 280px;
  }
}
/*--Small devices (landscape phones, 576px and up)--*/
@media (min-width: 576px) {
  .grid-container {
    width: 400px;
    grid-template-columns: 80px 78px 80px;
  }

  .playground {
    width: 280px;
  }

  .square {
    width: 70px;
    height: 70px;
  }
}

/*--// Medium devices (tablets, 768px and up)--*/
@media (min-width: 768px) {
  .grid-container {
    width: 450px;
  }
}
